{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<body>
    <table> 
   <div class="container">
   <div class="row">
    {% for user in users %}
        <div class="col-sm-4"> 
             <a href="{% url 'app1:details' user.id %}"><img src="{{user.Photo.url}}" height="300px" width="300px" alt=""><br>{{user.Name}}</a>
    </div>
    {% endfor %}
</div>
</div>
</table>
</body>
{% endblock %}